<!-- NAWA Shared Header (Deutsch) -->
<header>
  <div id="header-sticky" class="header header-6 header-8">
    <div class="container">
      <div class="mega-menu-wrapper header-8__main">
        <div class="header__main header-8__main">
          <div class="header__left header-8__left">
            <div class="header__logo">
              <a href="index.html">
                <img src="assets/imgs/logo/logo.png" alt="NAWA Logo">
              </a>
            </div>
          </div>
          <div class="header__middle">
            <div class="mean__menu-wrapper d-none d-lg-block">
              <div class="main-menu header-8__menu">
                <nav id="mobile-menu">
                  <ul>
                    <li><a href="about.html">Über uns</a></li>
                    <li><a href="service.html">Leistungen</a></li>
                    <li><a href="project.html">Portfolio</a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="header__right header-8__right">
            <!-- leer: keine Login/Get Started Buttons -->
          </div>
          <div class="menu__bar">
            <button class="offcanvas__toggle">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
